.title{
    text-transform: uppercase;
    font-size: 3vw;
    font-family: mon;
    color:rgb(0, 81, 255);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
.hr{
    margin: 10px;
    width: 100%;
    background-color: rgb(164, 9, 9);
}